<div id="<%= dom_id veiculo %>">
  <div>
    <strong>Placa:</strong>
    <%= veiculo.placa %>
  </div>

  <div>
    <strong>Renavam:</strong>
    <%= veiculo.renavam %>
  </div>

  <div>
    <strong>Chassi:</strong>
    <%= veiculo.chassi %>
  </div>

</div>
