<% content_for :title, "Editar Veículo - DETRAN" %>
<% content_for :header_title, "Cadastro de Veículo" %>

<% content_for :header_actions do %>
  <%= link_to "← Voltar", edit_proprietario_path(@proprietario), class: "back-btn" %>
<% end %>

<div class="page-center">
  <div class="panel">
    <div class="panel-head">
      <h3>Editar Veículo</h3>
    </div>

    <div class="panel-body">
      <%= render "form", proprietario: @proprietario, veiculo: @veiculo %>
    </div>
  </div>
</div>
