<% content_for :title, "Novo veículo" %>

<h1>Novo veículo</h1>

<%= render "form", veiculo: @veiculo, proprietario: @proprietario %>

<br>

<div>
  <%= link_to "Voltar para veículos", proprietario_veiculos_path(@proprietario) %>
</div>
