<div id="<%= dom_id proprietario %>">
  <div>
    <strong>Cpf cnpj:</strong>
    <%= proprietario.cpf_cnpj %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= proprietario.nome %>
  </div>

  <div>
    <strong>Endereco:</strong>
    <%= proprietario.endereco %>
  </div>

</div>
