<% content_for :title, "Editing proprietario" %>

<h1>Editing proprietario</h1>

<%= render "form", proprietario: @proprietario %>

<br>

<div>
  <%= link_to "Show this proprietario", @proprietario %> |
  <%= link_to "Back to proprietarios", proprietarios_path %>
</div>
