<% content_for :title, "Proprietário - DETRAN" %>
<% content_for :header_title, "Novo Proprietário" %>
<% content_for :page_title, "Cadastrar Novo Proprietário" %>

<% content_for :header_actions do %>
  <%= link_to "← Voltar para Lista", proprietarios_path, class: "back-btn" %>
<% end %>

<div class="card">
  <h3 class="card-title">Informações do Proprietário</h3>
  <%= render "form", proprietario: @proprietario %>
</div>
