<% content_for :title, "New proprietario" %>

<h1>New proprietario</h1>

<%= render "form", proprietario: @proprietario %>

<br>

<div>
  <%= link_to "Back to proprietarios", proprietarios_path %>
</div>
